@model 选课系统.ViewModel.CourseListVM
@{
    ViewBag.Title = "ShowCourses";
    Layout = "~/Views/_LayoutPageManager.cshtml";
}

<br />
@Html.ActionLink("添加课程", "AddCourse", "Manager", new { Class="btn btn-info" })
@Ajax.ActionLink("设置课程标志", "SetFlag", null, new AjaxOptions() { OnSuccess = "SetFlagSuccess", HttpMethod = "Get" }, new { Class = "btn btn-info" })
<br/>
<h3><label class="label label-danger">添加新课程或者修改课程上课时间后，请手动点击'防止上课冲突'按钮！</label></h3>
<table class="table" border="0" cellpadding="0" cellspacing="0"
       style="width: 1000px; height: 25px; text-align: left;">
    <tr>
        <th>课程号</th>
        <th>课程名称</th>
        <th>任课教师</th>
        <th>学分</th>
        <th>教室</th>
        <th>上课时间</th>
        <th>开始节次</th>
        <th>结束节次</th>
        <th>起始周</th><th>结束周</th>
        <th>容量</th>
        <th>已选</th>
        <th>Flag</th>
        
    </tr>
    @foreach (var item in Model.CourseList)
    {
        <tr>
            
            <td>@item.CourseID</td>
            <td>@item.CourseName</td>
            <td>@item.Mentor</td>
            <td>@item.Credit</td>
            <td>@item.Room</td>
            <td>@item.WeekDay</td>
            <td>@item.StartClass</td><td>@item.EndClass</td>
            <td>@item.StartWeek</td><td>@item.EndWeek</td>
            <td>@item.MaxNum</td>
            <td>@item.RealNum</td>
            <td>@item.Flag</td>
            <td>@Html.ActionLink("修改", "EditCourse", new { CourseID= item.CourseID })</td>
            <td>@Ajax.ActionLink("删除","DeleteCourse", new { CourseID = item.CourseID },new AjaxOptions() { OnSuccess= "DeleteSuccess", HttpMethod="Post", Confirm="确认删除?" })</td>
            
        </tr>
    }
</table>
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
<script type="text/javascript">
    function DeleteSuccess(data) {
        alert(data.Msg);
        if (data.Code == 1) {
            //删除成功
            var tr = $("tr :contains('" + data.Param + "') ").parent();
            tr.remove();
        }
    }
    function SetFlagSuccess(data) {
        alert(data.Msg);
        window.location.reload();
    }
</script>